/* f5d300 */

body{
    background-color: black !important;
}
.preload{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.logo {
    width: 100%;
    height: 70px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: azure;
}
.loader-frame {
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    position: relative;
}
.loader1, .loader2, .loader3 {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 80%;
}
.loader1 {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top: 10px solid #f5d300;
    border-bottom: 10px solid #f5d300;
    top: 10%;
    left: 10%;
    animation: clockwisespin 2s linear 2;
}
.loader2 {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-left: 10px solid #09FBD3;
    border-right: 10px solid #09FBD3;
    animation: anticlockwisespin 4s linear 1;
}
.loader3 {
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    border-left: 10px solid #FE53BB;
    border-right: 10px solid #FE53BB;
    top: 20%;
    left: 20%;
    animation: anticlockwisespin 2s linear 2;
}

@keyframes loadingTitle{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes clockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes anticlockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes rotate-out {
    0%   { opacity: 1;}
    25% { opacity: 1; transform: scale(0.5, 0.5); top: 0%}
    100% { opacity: 0; transform: scale(0.5, 0.5); top: 100%}
 } 
@keyframes rotate-in {
    from {opacity: 0; transform: scale(0,0)}
    to {opacity: 1; transform: scale(1,1)}
 } 

 @keyframes arm-rotate {
     0% {transform: rotate(0deg); transform-origin: 38.7% 76.6%}
     100% {transform: rotate(155deg); transform-origin: 38.7% 76.6%}
}
 @keyframes arm-return {
    from {transform: rotate(155deg); transform-origin: 38.7% 76.6%}
    to {transform: rotate(0deg); transform-origin: 38.7% 76.6%}
 }
.vinylNav{
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: black; 
}

.vinylDisc{
    position: absolute;
    height:56%;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.arm{
    position: relative;
    height: 25%;
    margin-top:90%;
    z-index: 1;
    right:12%;
}
.viewContainer{
    position: absolute;
    left:30%;
    height: 100%;
    width:50%;
    transform-style: preserve-3d;
    background-color: black;
    overflow: scroll;
}

.lastContainer{
    position: absolute;
    left: 80%;
    height: 100%;
    width: 20%;
    background-color: black;
    overflow: scroll;
    border-left: 1px solid white;
    text-align: center;
    transform-style: preserve-3d;
}

.navContainer{
    font-size: 3vh;
    font-family: 'IBM Plex Serif', serif;
    z-index: 2;
    position: relative;
    color: white;
}

#home{
    margin-top: -105%;
    margin-left: 25%;
}
#about{
    margin-top: 22%;
    margin-left: 70%;
}
#work{
    margin-top: 42%;
    margin-left: 85%;
}
#blog{
    margin-top: 42%;
    margin-left: 70%;
}
#connect{
    margin-top: 22%;
    margin-left: 25%;
}

@keyframes slide {
    0% {
      bottom: 0%;
    }
    100% {
      bottom: 200%;
    }
}
@keyframes slide-return {
    0% {
      bottom: 200%;
    }
    100% {
      bottom: 0%;
    }
}
.content, .lastContent{
    background-color: black;
    height: 100%;
    width:100%;
    position: absolute;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.loadingTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    animation: loadingTitle 2s ease;
}

.homeContent{
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 5vw;
    color: white;
}
#line1{
    margin-top: 40%;
    font-weight: bold;
}

.profilePic{
    max-width: 80%;
    margin-top: 150%;
    opacity: 0.8;
}