/* f5d300 */

body{
    background-color: black !important;
}
.preload{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo {
    width: 100%;
    height: 70px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: azure;
}
.loader-frame {
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    position: relative;
}
.loader1, .loader2, .loader3 {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 80%;
}
.loader1 {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top: 10px solid #f5d300;
    border-bottom: 10px solid #f5d300;
    top: 10%;
    left: 10%;
    animation: clockwisespin 1s linear 3;
}
.loader2 {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-left: 10px solid #09FBD3;
    border-right: 10px solid #09FBD3;
    animation: anticlockwisespin 2s linear 1.5;
}
.loader3 {
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    border-left: 10px solid #FE53BB;
    border-right: 10px solid #FE53BB;
    top: 20%;
    left: 20%;
    animation: anticlockwisespin 3s linear 1;
}
@keyframes clockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes anticlockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes rotate-out {
    0%   { opacity: 1;}
    25% { opacity: 1; transform: scale(0.5, 0.5); top: 0%}
    100% { opacity: 0; transform: scale(0.5, 0.5); top: 100%}
 } 
@keyframes rotate-in {
    from {opacity: 0; transform: scale(0,0)}
    to {opacity: 1; transform: scale(1,1)}
 } 
.vinylNav{
    position: absolute;
    height: 100%;
    width: 30%;
}
.viewContainer{
    position: absolute;
    left:30%;
    height: 100%;
    width:70%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: white;
}

#page1{
    background-color: red;
    height: 100%;
    width:100%;
    position: absolute;
}
#page2{
    background-color: yellow;
    height: 100%;
    width:100%;
    position: absolute;
    opacity: 0;
}
#page3{
    background-color: greenyellow;
    opacity: 0;
    height: 100%;
    width:100%;
    position: absolute;
}
#page4{
    background-color: skyblue;
    opacity: 0;
    height: 100%;
    width:100%;
    position: absolute;
}